*{
    font-style: Arial, Helvetica, sans-serif;
}

:root{
    --darkGrey: rgb(43, 41, 41);
    --lightGrey: rgb(75, 75, 75);
    --darkRed: rgb(160, 5, 5);
    --lightRed: rgb(255, 0, 0);
}

/* Navigation Bar */
nav{
    width: 100%;
    height: 6rem;
    background: linear-gradient(var(--darkGrey), var(--lightGrey));
    position: fixed;
    top: 0;
}

.nav-list{
    bottom: 16px;
}

h1{
    color: black;
    text-align: center;
    padding: 1rem;
    background: linear-gradient(to top, var(--lightRed), var(--darkRed));
    border-radius: 5px;
    width: 20%;
    margin: 2.5% 40%;
    justify-content: center;
}

.left-align{
    display: inline-block;
    float: left;
    color: white;
    font-size: 1.5rem;
}

.right-align{
    float: right;
    text-align: center;
    padding: 0.75rem 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
}

p{
    line-height: 150%;
    color: white;
    margin: 0 4rem;
}

#profile-picture{
    display: inline-block;
    margin: 10px;
    border-radius: 50%;
    border-width: 3px;
    height: 5rem;
    width: 5rem;
    font: 1.5rem;
    color: white;
}

/* About me paragraph */
.self-intoduction{
    margin-top: 6rem;
    background: linear-gradient(var(--darkGrey), var(--lightGrey));
}

.self-intoduction p{
    padding: 30px;
    padding-bottom: 6rem;
}

.project-section{
    background: linear-gradient(to top, var(--darkGrey), var(--lightGrey));
}

/* First Project */
#project-one{
    display: block;
    max-width: 90%;
    margin: 0 5%;
}

#horiseon-picture{
    display: block;
    width: 100%;
    text-align: center;
    flex: 1 0 400px;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

#horiseon-picture:hover{
    border-color: var(--darkRed);
    box-shadow: 0 0 10px 10px var(--darkRed);
}

/* Project List */
.project-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project{
    display: block;
    max-width: 40%;
    margin: 2.5% 5% 0 5%;
    text-align: center;
    flex: 1 0 40%;
}

.project img:hover{
    border-color: var(--darkRed);
    box-shadow: 0 0 10px 10px var(--darkRed);
}

.project img{
    display: block;
    max-width: 100%;
    text-align: center;
    flex: 1 0 400px;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

/* Future Outlook Section */
.future-background{
    background: linear-gradient(var(--darkGrey), var(--lightGrey));
}

.future-outlook{
    border-radius: 45px;
    border-width: 2px;
    border-color: black;
    padding: 30px;
    padding-bottom: 80px;
}

/* Footer */
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to top, var(--darkGrey), var(--lightGrey));
}

footer a{
    color: white;
    text-align: center;
    text-decoration: none;
}

.contact-box{
    max-width: 30%;
    margin: 1.5%;
    flex: 0 0 300px;
    padding: 1rem;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    background-color: var(--darkGrey);
    color: white;
}

.contact-box:hover {
    border-color: var(--darkRed);
    box-shadow: 0 0 10px 10px var(--darkRed);

}

.contact-box li{
    text-align: center;
    font-size: 1.75rem;
}

/* Reactive Screen */

@media screen and (max-width: 769px) {
    .project{
        max-width: 90%;
        margin: 2.5% 10% 0 10%;
    }

    .contact-box{
        max-width: 60%;
        margin: 5 20%;
    }
}

